@{
    ViewBag.Title = "HomeIndex";
}
<!--行事曆主題-->
@*<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">*@

<!-- 搜尋 -->
<div class="site-blocks-cover overlay" style="background-image: url(../images/hero_1.jpg);" data-aos="fade"
     data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">


                <div class="row justify-content-center mb-4">
                    <div class="col-md-10 text-center">
                        <h1 data-aos="fade-up">
                            EventFun
                            <span class="typed-words"></span>
                        </h1>
                        <!--<p data-aos="fade-up" data-aos-delay="100">Handcrafted free templates by <a href="https://free-template.co/" target="_blank">Free-Template.co</a></p>-->
                    </div>
                </div>
                <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
                    <form method="post">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-xl-4 no-sm-border border-right">
                                <input type="text" class="form-control" placeholder="找活動">
                            </div>
                            <div class="col-lg-12 col-xl-3 no-sm-border border-right">
                                <div class="wrap-icon">
                                    <span class="icon icon-room"></span>
                                    <select class="form-control">
                                        <option value="">All</option>
                                        <option value="">基隆</option>
                                        <option value="">台北</option>
                                        <option value="">新北</option>
                                        <option value="">桃園</option>

                                    </select>
                                </div>

                            </div>
                            <div class="col-lg-12 col-xl-3">
                                <div class="select-wrap">
                                    <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                    <select class="form-control">
                                        <option value="">All</option>
                                        <option value="">休閒</option>
                                        <option value="">運動</option>
                                        <option value="">表演</option>
                                        <option value="">音樂</option>
                                        <option value="">影視</option>
                                        <option value="">展覽</option>
                                        <option value="">學習</option>
                                        <option value="">校園</option>
                                        <option value="">宗教</option>
                                        <option value="">比賽</option>
                                        <option value="">公益</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-2 ml-auto text-right">
                                <input type="submit" class="btn text-white btn-primary" value="搜尋">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 廣告牆 -->
@Html.Action("_ADListPartial", "Home")


<!-- 人氣主題 -->
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">人氣主題</h2>
                <p class="color-black-opacity-5">安安聽說我人氣很好喔</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="#" class="popular-category h-100">
                    <span class="icon mb-3"><span class="flaticon-hotel"></span></span>
                    <span class="caption mb-2 d-block">休閒</span>
                    <span class="number">4,89</span>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="#" class="popular-category h-100">
                    <span class="icon mb-3"><span class="flaticon-microphone"></span></span>
                    <span class="caption mb-2 d-block">運動</span>
                    <span class="number">482</span>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="#" class="popular-category h-100">
                    <span class="icon mb-3"><span class="flaticon-flower"></span></span>
                    <span class="caption mb-2 d-block">表演</span>
                    <span class="number">194</span>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="#" class="popular-category h-100">
                    <span class="icon mb-3"><span class="flaticon-restaurant"></span></span>
                    <span class="caption mb-2 d-block">影視</span>
                    <span class="number">1,472</span>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="#" class="popular-category h-100">
                    <span class="icon mb-3"><span class="flaticon-cutlery"></span></span>
                    <span class="caption mb-2 d-block">比賽</span>
                    <span class="number">439</span>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a href="#" class="popular-category h-100">
                    <span class="icon mb-3"><span class="flaticon-bike"></span></span>
                    <span class="caption mb-2 d-block">文藝</span>
                    <span class="number">692</span>
                </a>
            </div>
        </div>
        <div class="row mt-5 justify-content-center tex-center">
            <div class="col-md-4">
                <a href="#" class="btn btn-block btn-outline-primary btn-md px-5">顯示更多主題</a>
            </div>
        </div>
    </div>
</div>


<!-- 最新活動 -->
@Html.Action("_EventLatestPartial", "Home")


<!-- 人氣活動 -->
<div class="site-section" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">人氣活動</h2>
                <p class="color-black-opacity-5">聽說我的活動人氣很好喔XD</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img src="../images/img_1.jpg" alt="Free Website Template by Free-Template.co"
                             class="img-fluid">
                    </div>
                    <div class="listing-item-content">

                        <a class="px-3 mb-3 category" href="#">休閒</a>
                        <h2 class="mb-1">
                            <a href="listings-single.html">台北 101 觀景台門票</a>
                        </h2>
                        <span class="address">台北必去景點台北 101 觀景台。</span>
                    </div>
                    <div class="listing-item-content">
                        <a href="listings-single.html" class="bookmark" data-toggle="tooltip"
                           data-placement="left" title="Bookmark"><span class="icon-heart"></span></a>
                    </div>

                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img src="../images/img_2.jpg" alt="Free Website Template by Free-Template.co"
                             class="img-fluid">
                    </div>
                    <div class="listing-item-content">
                        <a class="px-3 mb-3 category" href="#">Restaurants</a>
                        <h2 class="mb-1">
                            <a href="listings-single.html">Jones Grill &amp; Restaurants</a>
                        </h2>
                        <span class="address">Brooklyn, New York</span>
                    </div>
                    <div class="listing-item-content">
                        <a href="listings-single.html" class="bookmark" data-toggle="tooltip"
                           data-placement="left" title="Bookmark"><span class="icon-heart"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img src="../images/img_3.jpg" alt="Free Website Template by Free-Template.co"
                             class="img-fluid">
                    </div>
                    <div class="listing-item-content">
                        <a class="px-3 mb-3 category" href="#">Events</a>
                        <h2 class="mb-1">
                            <a href="listings-single.html">Live Band</a>
                        </h2>
                        <span class="address">West Orange, New York</span>
                    </div>
                    <div class="listing-item-content">
                        <a href="listings-single.html" class="bookmark" data-toggle="tooltip"
                           data-placement="left" title="Bookmark"><span class="icon-heart"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img src="../images/img_4.jpg" alt="Free Website Template by Free-Template.co"
                             class="img-fluid">
                    </div>
                    <div class="listing-item-content">
                        <a class="px-3 mb-3 category" href="#">Others</a>
                        <h2 class="mb-1">
                            <a href="listings-single.html">Gourmet Coffees</a>
                        </h2>
                        <span class="address">New York City</span>
                    </div>
                    <div class="listing-item-content">
                        <span href="listings-single.html" class="bookmark">
                            <span class="icon-heart"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img src="../images/img_5.jpg" alt="Free Website Template by Free-Template.co"
                             class="img-fluid">
                    </div>
                    <div class="listing-item-content">
                        <a href="listings-single.html" class="bookmark"><span class="icon-heart"></span></a>
                        <a class="px-3 mb-3 category" href="#">Spa</a>
                        <h2 class="mb-1">
                            <a href="listings-single.html">La Italia Spa</a>
                        </h2>
                        <span class="address">Italy</span>
                    </div>

                    <div class="listing-item-content">
                        <a href="listings-single.html" class="bookmark"><span class="icon-heart"></span></a>
                    </div>

                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img src="../images/img_6.jpg" alt="Free Website Template by Free-Template.co"
                             class="img-fluid">
                    </div>
                    <div class="listing-item-content">
                        <a href="listings-single.html" class="bookmark"><span class="icon-heart"></span></a>
                        <a class="px-3 mb-3 category" href="#">Stores</a>
                        <h2 class="mb-1">
                            <a href="listings-single.html">Super Market Mall</a>
                        </h2>
                        <span class="address">West Orange, New York</span>
                    </div>
                    <div class="listing-item-content">
                        <a href="listings-single.html" class="bookmark"><span class="icon-heart"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        var typed = new Typed('.typed-words', {
            strings: [" Hello！", " こんにちは！", " bonjour！", " 안녕하세요！", " hola！", " привет！", " γεία σας！"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
        });

    </script>
}

