
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link rel="stylesheet" href="../css/login.css">
    <title>EventFun</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <!-- EF CSS -->

    <link rel="stylesheet" href="../css/EF/EFindex.css">
    <!-- ... -->
    <link rel="stylesheet" href="../fonts/icomoon/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/rangeslider.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #ccc;
                }

        Style the tab content
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .radio_inline {
            display: inline-block;
            width: 65%;
        }

            .radio_inline label {
                width: 20%;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 14pt;
                font-family: 'Times New Roman', Times, serif
            }

            .radio_inline input[type=radio] {
                width: 15%;
                right: auto;
            }
    </style>
}

<div class="site-blocks-cover overlay" style="background-image: url(../images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
                <!--插入註冊-->
                <div class="cotn_principal" style="position: relative;">
                    <div class="cont_centrar">

                        <div class="cont_login">
                            <div class="cont_info_log_sign_up">
                                <div class="col_md_login">


                                    <div class="cont_ba_opcitiy">
                                        <h2>
                                            登入
                                        </h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                        <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                                        <br />
                                        <p class="text-denger">@ViewBag.Message</p>
                                    </div>
                                </div>



                                <div class="col_md_sign_up">
                                    <div class="cont_ba_opcitiy">
                                        <h2>註冊</h2>


                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                                        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                                    </div>
                                </div>
                            </div>


                            <div class="cont_back_info">
                                <div class="cont_img_back_grey">
                                    <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
                                </div>

                            </div>

                            <div class="cont_forms">
                                <div class="cont_img_back_">
                                    <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
                                </div>

                                <div class="cont_form_login">
                                    <a href="#" onclick="ocultar_login_sign_up()"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> --></a>

                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#home" data-toggle="tab" class="active show" id="member">一般會員</a>
                                        </li>
                                        <li class="">
                                            <a href="#ios" data-toggle="tab" class="" id="company">企業會員</a>
                                        </li>
                                        <li class="">
                                            <a href="#admin" data-toggle="tab" class="" id="Admin">管理員</a>
                                        </li>
                                    </ul>
                                    <form action="/Login/MemberLogin" method="post" id="formLogin">

                                        <div id="myTabContent" class="tab-content">

                                            <div class="tab-pane fade active show in" id="home" style="margin-bottom: 3px;">

                                                <h2>一般會員登入</h2>
                                                <input type="text" placeholder="帳號" name="fmemberID" id="inpMA" required="required" style="  padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;">
                                                <input type="password" placeholder="密碼" name="fpwd" id="inpMP" required="required" style="  padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;">
                                                @*<input type="submit" class="btn_login" />*@
                                                <button class="btn_login" onclick="cambiar_login()">登入</button>

                                            </div>


                                            <div class="tab-pane fade" id="ios">
                                                <h2>企業會員登入</h2>
                                                <input type="text" placeholder="帳號" name="CfmemberID" id="inpCA" style=" margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575; padding: 15px 5px;">
                                                <input type="password" placeholder="密碼" name="Cfpwd" id="inpCP" style=" margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575; padding: 15px 5px;">
                                                <button class="btn_login" onclick="cambiar_login()">登入</button>
                                            </div>
                                            <div class="tab-pane fade" id="admin">
                                                <h2>管理員登入</h2>
                                                <input type="text" placeholder="帳號" name="str_管理者帳號" id="inpAA" style=" margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575; padding: 15px 5px;">
                                                <input type="password" placeholder="密碼" name="str_管理者密碼" id="inpAP" style=" margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575; padding: 15px 5px;">
                                                <button class="btn_login" onclick="cambiar_login()">登入</button>
                                            </div>

                                        </div>
                                    </form>

                                </div>

                                <form action="/Login/CreatMember" method="post" id="form">
                                    @Html.AntiForgeryToken()
                                    <div class="cont_form_sign_up">
                                        <a href="#" onclick="ocultar_login_sign_up()"><i class="fas fa-times"></i></a>
                                        @*<h2>SIGN UP</h2>*@


                                        <input type="text" placeholder="名稱" name="f會員名稱" required="required" id="name" />
                                        <input type="text" placeholder="帳號" name="f會員帳號" required="required" id="account" />

                                        <input type="password" placeholder="密碼" name="f會員密碼" required="required" id="pwd" />
                                        @*<input type="password" placeholder="確認密碼" name="f會員信箱" />*@
                                        <input type="email" placeholder="信箱" name="f會員信箱" required="required" id="mail" />
                                        <div class="mui-input-row ">
                                            <span class="radio_inline mui-radio">
                                                <input name="f會員性別" type="radio" id="radio_man" checked value="true">
                                                <label for="radio_man">Male</label>
                                                <input name="f會員性別" type="radio" id="radio_woman" value="false">
                                                <label for="radio_woman">Female</label>
                                            </span>
                                        </div>
                                        <div style="font-weight:bold;">
                                            <label>
                                                <input type="checkbox" id="businessCheck" style="width: 20px; height: 15px;">
                                                申請為企業會員
                                            </label>
                                        </div>

                                        <input type="text" id="vatNum" placeholder="統一編號" name="f統一編號" style="display:none" />
                                        <input type="submit" value="SIGN UP" class="btn_sign_up" onclick="cambiar_sign_up()" style="color:white;text-align:center" />

                                        @*<button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>*@

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!--結束註冊-->
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.countdown.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/bootstrap-datepicker.min.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/rangeslider.min.js"></script>

    <script src="../js/main.js"></script>
    <script src="../js/login.js"></script>

    <script src="../fontawesome/js/all.js"></script> <!--導入ICON-->
    <!--https://fontawesome.com/icons?d=gallery&m=free 可查詢使用ICON-->

    <script>
        $(document).ready(function () {
            $(document).on('change', 'input[id="businessCheck"]', function () {
                if ($("#businessCheck").prop("checked")) {
                    document.getElementById("vatNum").style = "display:inline";
                    document.getElementById("form").action = "/Login/CreatCompany"
                    document.getElementById("name").name = "f企業名稱"
                    document.getElementById("account").name = "f企業帳號"
                    document.getElementById("pwd").name = "f企業密碼"
                    document.getElementById("mail").name = "f企業信箱"

                }
                else {
                    document.getElementById("vatNum").style = "display:none";
                    document.getElementById("form").action = "/Login/CreatMember"
                    document.getElementById("name").name = "f會員名稱"
                    document.getElementById("account").name = "f會員帳號"
                    document.getElementById("pwd").name = "f會員密碼"
                    document.getElementById("mail").name = "f會員信箱"
                }
            });
            $('#company').on('click', function () {
                $('#inpMA').removeAttr("required")
                $('#inpMP').removeAttr("required")
                $('#inpAA').removeAttr("required")
                $('#inpAP').removeAttr("required")
                document.getElementById("formLogin").action = "/Login/CompanyLogin"
                $('#inpCA').attr("required", "required")
                $('#inpCP').attr("required", "required")


            })
            $('#member').on('click', function () {
                $('#inpCA').removeAttr("required")
                $('#inpCP').removeAttr("required")
                $('#inpAA').removeAttr("required")
                $('#inpAP').removeAttr("required")
                 document.getElementById("formLogin").action = "/Login/MemberLogin"
                $('#inpMA').attr("required", "required")
                $('#inpMP').attr("required", "required")

            })
            $('#admin').on('click', function () {
                $('#inpCA').removeAttr("required")
                $('#inpCP').removeAttr("required")
                $('#inpMA').removeAttr("required")
                $('#inpMP').removeAttr("required")
                 document.getElementById("formLogin").action = "/Login/AdminLogin"
                $('#inpAA').attr("required", "required")
                $('#inpAP').attr("required", "required")

            })

        });

    </script>
}
